$padding:20px;
$cursor: no-drop;
$display: flex;
$direction: column;
$textAlign: center;
$h2: 30px;
$color: blue;
$fontSize: 18px;
$borderRadius: 6px;
$justifyContent: center;
$alignItems: center;
$background: rgb(235, 118, 118);

mat-card{
    margin: 50px 20px;
    padding: $padding;
}

h2{
    text-align: $textAlign;
    font-size: $h2;
    color: $color;
}

form{
    display: $display;
    flex-direction: $direction;
}

.radio{
    display: $display;
    flex-direction: $direction;
}

button:disabled{
    cursor: cursor;
}

span{
    background-color: $background;
    color: #fff;
    display: $display;
    align-items: $alignItems;
    justify-content: $justifyContent;
    padding: 10px;
    font-size: $fontSize;
    border-radius: $borderRadius;
}