<mat-card>
    <form [formGroup]="form">
        <h2>{{h2 | titlecase}}</h2>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <div class="radio">
            <label>Sexo </label>
            <mat-radio-group formControlName="gender" >
              <mat-radio-button value="masculino">Masculino</mat-radio-button>
              <mat-radio-button value="feminino">Feminino</mat-radio-button>
              <mat-radio-button value="outro">Outro</mat-radio-button>
            </mat-radio-group>
          </div>
    </form>

    <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
</mat-card>